<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="file" fileName="${user.home}\Desktop\kxsales\logs\stiletto.log" filePattern="${user.home}\Desktop\kxsales\logs\stiletto.%i.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" /> <!-- 이 용량이 초과되면 아래 DefaultRolloverStrategy 정책만큼 넘버링 할거다. -->
            </Policies>
            <DefaultRolloverStrategy max="1000" fileIndex="min" /><!-- 0부터 1000개 까지만 만들거다 1000개 초과되면 파일이 더 생성 안된다. -->
        </RollingFile>
    </appenders>

    <loggers>
        <!-- 모든 로그는 dubug 레벨 이상일때만 찍고 -->
        <root level="debug" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>

        <!-- 로그 많이 찍어대는 요 놈들은 warn 수준이상만 찍겠다. -->
        <logger name="org.springframework" level="warn" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </logger>

        <logger name="org.apache.http" level="warn" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </logger>

        <!-- 내 패키지는 무조건 찍자 -->
        <logger name="kr.pe.ryudaewan.stiletto" level="trace" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </logger>
    </loggers>
</configuration>
