<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>로그인</title>
    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/sign-in/sign-in.css" rel="stylesheet" th:href="@{/sign-in/sign-in.css}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript" type="text/javascript">/*<![CDATA[*/

    function signIn(frm) {

        axios({
            method: frm.method,
            url: frm.action,
            data: {email: frm.email.value, password: frm.password.value}
        })
            .then(function (response) {
                var title = '로그인 성공';
                var msg = '환영합니다, ' + response.data.screenName + '님!';
                $('div.modal-body').html(msg);
                $('div.modal-header').html(title);
                $('div.modal').modal();
            })
            .catch(function (error) {
                var title = '로그인 실패';
                var msg = '';

                // https://이듬.run/axios/guide/error-handling.html
                switch (error.response.status) {
                    case 401: // unauthrized
                        msg = "이메일/패스워드를 확인하십시오."
                        break;
                    default:
                        msg = '알 수 없는 오류 발생. HTTP 상태 코드: [' + error.response.status + ']';
                }

                frm.password.value = '';

                if (false === frm.storeEmailYn.checked) {
                    frm.email.value = '';
                }

                $('div.modal-body').html(msg);
                $('div.modal-header').html(title);
                $('div.modal').modal();
            });

    }

    /*]]>*/</script>
</head>

<body class="text-center">
<form action="/signIn" class="form-signin" method="POST" th:action="@{/signIn}">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <img alt="" class="mb-4" height="72" src="/sign-in/stiletto.svg" th:src="@{/sign-in/stiletto.svg}" width="72">
    <h1 class="h3 mb-3 font-weight-normal">로그인</h1>
    <label class="sr-only" for="inputEmail">이메일</label>
    <input autofocus class="form-control" name="email" placeholder="이메일" required type="email">
    <label class="sr-only" for="inputPassword">비밀번호</label>
    <input class="form-control" name="password" placeholder="비밀번호" required type="password">
    <div class="checkbox mb-3">
        <label>
            <input name="storeEmailYn" type="checkbox" value="store-email"> 이메일 저장
        </label>
    </div>
    <button class="btn btn-sm btn-primary" onclick="signIn(this.form)" type="button">로그인</button>
    <button class="btn btn-sm btn-primary" type="button">회원 가입</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019 - 2020</p>
</form>

<!-- 레이어 팝업 -->
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body"></div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>